<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    {% include "element/head.html" with title="Main" %}
</head>
<body>
    {% include "element/header.html" %}
    
    {% include "element/nav.html" %}

    {% block content %}{% endblock %}

    {% include "element/footer.html" %}
</body>
</html>